<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Watch Fun</title>
  <meta name="description" content="">
<meta name="author" content="">

<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="/css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="/fonts/font-awesome/css/font-awesome.css"/>

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css"  href="/css/style.css"/>
<link rel="stylesheet" type="text/css" href="/css/nivo-lightbox/nivo-lightbox.css"/>
<link rel="stylesheet" type="text/css" href="/css/nivo-lightbox/default.css"/>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'/>
<script type="text/javascript" src="js/modernizr.custom.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div th:insert="~{header :: header}"></div>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <header id="header">
  <div class="intro">
    <div class="container">
      <div class="row">
        <div class="intro-text">
          <h1>Watch Fun</h1>
          <hr>
          <p>Movies • TV Series • Novels</p>
          <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                    <div class="dropdown">
             <button class="dropbtn">
             
               <div id="selectionValue" class="glyphicon glyphicon-chevron-down" >Movie</div>
             </button>
             <div class="dropdown-content">
              <a  th:onclick="'javascript:optionSelection(this);'" >Movie</a> 
              <a  th:onclick="'javascript:optionSelection(this);'">Novel</a>
              <a  th:onclick="'javascript:optionSelection(this);'">TVSeries</a>
              
             </div>
            </div> 
            
            
           
            
            
                      <input type="text" class="form-control" id="Search" placeholder="Search here">
                      <button type="submit" th:onclick="'javascript:searchSubmit();'" class="btn btn-default">Search</button>
                    </div>
                  </div> </div>
      </div>
    </div>
  </div>
</header>


<!-- Navigation -->
<div id="nav">
  <nav class="navbar navbar-custom">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse"> <i class="fa fa-bars"></i> </button>
      </div>
      
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-main-collapse">
        <ul class="nav navbar-nav">
          <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
          <li class="hidden"> <a href="#page-top"></a> </li>
          <li> <a class="page-scroll" href="#movies">Movies</a> </li>
          <li> <a class="page-scroll" href="#novels">Novels</a> </li>
          <li> <a class="page-scroll" href="#tvseries">TV Series</a> </li>
        </ul>
      </div>
    </div>
  </nav>  
</div>



<!--1 starts -->

<!-- Movies Section -->
<div id="movies">
  <div class="container">

    <div class="section-title text-center center">
      <h2>Movies</h2>
      <hr>
    </div>
    <div class="categories">
      <ul class="mov">
        <li>
          <ol class="type">
            <li><a href="#" data-filter=".mov-all" class="active">All</a></li>
            <li><a href="#" data-filter=".mov-latest">Latest</a></li>
            <li><a href="#" data-filter=".mov-fav">All time fav.</a></li>
            <li><a href="#" data-filter=".mov-upcoming">Upcoming</a></li>
          </ol>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="watchfun-movies">


     <!-- MOVIE ITEM-->

		<!-- movie all item -->
        <div class="col-sm-6 col-md-3 col-lg-3 mov-all" th:each="movie : ${movAll}"> 
          <div class="watchfun-movie">
            <div class="hover-bg"> <a  th:href="@{'movie/'+${movie.id}}" th:title="${movie.name}" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4 th:text="${movie.rating}"></h4>
              </div>
              <img  th:src="@{${movie.img}}" class="img-responsive" > </a> </div>
          </div>
          <!-- element button-->        
          <ol class="downloadlink">            
            <li><a th:href="@{${movie.downloadLink}}" >Download</a></li>
          </ol>      
          <!-- element button ends-->
        </div>
        <!-- movie all item end-->
        
        <!-- movie latest item -->
                <div class="col-sm-6 col-md-3 col-lg-3 mov-latest" th:each="movie : ${movLatest}"> 
          <div class="watchfun-movie">
            <div class="hover-bg"> <a  th:href="@{'movie/'+${movie.id}}" th:title="${movie.name}" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4 th:text="${movie.rating}"></h4>
              </div>
              <img  th:src="@{${movie.img}}" class="img-responsive" > </a> </div>
          </div>
          <!-- element button-->        
          <ol class="downloadlink">            
            <li><a th:href="@{${movie.downloadLink}}" >Download</a></li>
          </ol>      
          <!-- element button ends-->
        </div>
        <!-- movie latest item end-->
        
        <!-- movie all time favorite item -->
                <div class="col-sm-6 col-md-3 col-lg-3 mov-fav" th:each="movie : ${movFav}"> 
          <div class="watchfun-movie">
            <div class="hover-bg"> <a  th:href="@{'movie/'+${movie.id}}" th:title="${movie.name}" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4 th:text="${movie.rating}"></h4>
              </div>
              <img  th:src="@{${movie.img}}" class="img-responsive" > </a> </div>
          </div>
          <!-- element button-->        
          <ol class="downloadlink">            
            <li><a th:href="@{${movie.downloadLink}}" >Download</a></li>
          </ol>      
          <!-- element button ends-->
        </div>
        <!-- movie all time favorite item end-->
        
        
        <!-- movie upcoming item -->
                <div class="col-sm-6 col-md-3 col-lg-3 mov-upcoming" th:each="movie : ${movUpcoming}"> 
          <div class="watchfun-movie">
            <div class="hover-bg"> <a  th:href="@{'movie/'+${movie.id}}" th:title="${movie.name}" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4 th:text="${movie.rating}"></h4>
              </div>
              <img  th:src="@{${movie.img}}" class="img-responsive" > </a> </div>
          </div>
          <!-- element button-->        
          <ol class="downloadlink">            
            <li><a th:href="@{${movie.downloadLink}}" >Download</a></li>
          </ol>      
          <!-- element button ends-->
        </div>
        <!-- movie upcoming item end-->
        
        
        
        
        
        
      </div>
      <!-- Element ends-->
    </div>
  </div>
  <div class="section-title text-center center">
  <div class="about-text">
          <a th:href="@{movies}" class="btn btn-default btn-lg page-scroll">More+</a> </div>      
    </div>
</div>


<!--section 1 ends here -->

<!-- 2-->

<!-- Novels Section -->
<div id="novels">
  <div class="container">
    <div class="section-title text-center center">
      <h2>Novels</h2>
      <hr>
    </div>
    <div class="categories">
      <ul class="nov">
        <li>
          <ol class="type">
            <li><a href="#" data-filter=".nov-all" class="active">All</a></li>
            <li><a href="#" data-filter=".nov-latest">Latest</a></li>
            <li><a href="#" data-filter=".nov-fav">All time fav.</a></li>
            <li><a href="#" data-filter=".nov-upcoming">Upcoming</a></li>
          </ol>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="row">
       <div class="watchfun-novels">


     <!-- NOVEL ITEM-->

		<!-- novel all item -->
        <div class="col-sm-6 col-md-3 col-lg-3 nov-all" th:each="novel : ${novAll}"> 
          <div class="watchfun-novel">
            <div class="hover-bg"> <a  th:href="@{'novel/'+${novel.id}}" th:title="${novel.name}" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4 th:text="${novel.rating}"></h4>
              </div>
              <img  th:src="@{${novel.img}}" class="img-responsive" > </a> </div>
          </div>
          <!-- element button-->        
          <ol class="downloadlink">            
            <li><a th:href="@{${novel.downloadLink}}" >Download</a></li>
          </ol>      
          <!-- element button ends-->
        </div>
        <!-- novel all item ends -->
        
        <!-- novel latest item -->
                <div class="col-sm-6 col-md-3 col-lg-3 nov-latest" th:each="novel : ${novLatest}"> 
          <div class="watchfun-novel">
            <div class="hover-bg"> <a  th:href="@{'novel/'+${novel.id}}" th:title="${novel.name}" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4 th:text="${novel.rating}"></h4>
              </div>
              <img  th:src="@{${novel.img}}" class="img-responsive" > </a> </div>
          </div>
          <!-- element button-->        
          <ol class="downloadlink">            
            <li><a th:href="@{${novel.downloadLink}}" >Download</a></li>
          </ol>      
          <!-- element button ends-->
        </div>
        <!-- novel latest item ends-->
        
        <!-- novel all time favorite item -->
                <div class="col-sm-6 col-md-3 col-lg-3 nov-fav" th:each="novel : ${novFav}"> 
          <div class="watchfun-novel">
            <div class="hover-bg"> <a  th:href="@{'novel/'+${novel.id}}" th:title="${novel.name}" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4 th:text="${novel.rating}"></h4>
              </div>
              <img  th:src="@{${novel.img}}" class="img-responsive" > </a> </div>
          </div>
          <!-- element button-->        
          <ol class="downloadlink">            
            <li><a th:href="@{${novel.downloadLink}}" >Download</a></li>
          </ol>      
          <!-- element button ends-->
        </div>
        <!-- novel all time favorite item ends-->
        
        
        <!-- novel upcoming item -->
                <div class="col-sm-6 col-md-3 col-lg-3 nov-upcoming" th:each="novel : ${novUpcoming}"> 
          <div class="watchfun-novel">
            <div class="hover-bg"> <a  th:href="@{'novel/'+${novel.id}}" th:title="${novel.name}" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4 th:text="${novel.rating}"></h4>
              </div>
              <img  th:src="@{${novel.img}}" class="img-responsive" > </a> </div>
          </div>
          <!-- element button-->        
          <ol class="downloadlink">            
            <li><a th:href="@{${novel.downloadLink}}" >Download</a></li>
          </ol>      
          <!-- element button ends-->
        </div>
        <!-- novel upcoming item ends-->
        
        
        
      </div>
      <!-- Element ends-->
    </div>
  </div>
  <div class="section-title text-center center">
  <div class="about-text">
          <a th:href="@{novels}" class="btn btn-default btn-lg page-scroll">More+</a> </div>      
    </div>
</div>


<!-- section 2 ends here-->

<!-- 3-->
<!-- TV-Series Section -->
<div id="tvseries">
  <div class="container">
    <div class="section-title text-center center">
      <h2>TV Series</h2>
      <hr>
    </div>
    <div class="categories">
      <ul class="tvs">
        <li>
          <ol class="type">
            <li><a href="#" data-filter=".tvs-all" class="active">All</a></li>
            <li><a href="#" data-filter=".tvs-latest">Latest</a></li>
            <li><a href="#" data-filter=".tvs-fav">All time fav.</a></li>
            <li><a href="#" data-filter=".tvs-upcoming">Upcoming</a></li>
          </ol>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
        <div class="row" >
      <div class="watchfun-tvseriess" >


     <!-- TVSeries ITEM-->
	<!-- tv series all item -->
	<div class="col-sm-6 col-md-3 col-lg-3 tvs-all" th:each="tvseries : ${tvsAll}">      <!-- append class here-->
          <div class="watchfun-tvseries">
            <div class="hover-bg"> <a  th:href="@{'tvseries/'+${tvseries.id}}" th:title="${tvseries.name}" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4 th:text="${tvseries.rating}"></h4>
              </div>
              <img  th:src="@{${tvseries.img}}" class="img-responsive" > </a> </div>
          </div>
          <!-- element button-->        
          <ol class="downloadlink">            
            <li><a th:href="@{${tvseries.downloadLink}}" >Download</a></li>
          </ol>      
          <!-- element button ends-->
        </div>
    <!-- tv series all item ends -->    
        
        
	<!-- tv series latest item -->
	        <div class="col-sm-6 col-md-3 col-lg-3 tvs-latest" th:each="tvseries : ${tvsLatest}">      <!-- append class here-->
          <div class="watchfun-tvseries">
            <div class="hover-bg"> <a  th:href="@{'tvseries/'+${tvseries.id}}" th:title="${tvseries.name}" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4 th:text="${tvseries.rating}"></h4>
              </div>
              <img  th:src="@{${tvseries.img}}" class="img-responsive" > </a> </div>
          </div>
          <!-- element button-->        
          <ol class="downloadlink">            
            <li><a th:href="@{${tvseries.downloadLink}}" >Download</a></li>
          </ol>      
          <!-- element button ends-->
        </div>
    <!-- tv series latest item ends -->
        
        
	<!-- tv series favorite item -->
	                <div class="col-sm-6 col-md-3 col-lg-3 tvs-fav" th:each="tvseries : ${tvsFav}">      <!-- append class here-->
          <div class="watchfun-tvseries">
            <div class="hover-bg"> <a  th:href="@{'tvseries/'+${tvseries.id}}" th:title="${tvseries.name}" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4 th:text="${tvseries.rating}"></h4>
              </div>
              <img  th:src="@{${tvseries.img}}" class="img-responsive" > </a> </div>
          </div>
          <!-- element button-->        
          <ol class="downloadlink">            
            <li><a th:href="@{${tvseries.downloadLink}}" >Download</a></li>
          </ol>      
          <!-- element button ends-->
        </div>
    <!-- tv series favorite item ends -->    
        
        
        
        
	<!-- tv series upcoming item -->
	                <div class="col-sm-6 col-md-3 col-lg-3 tvs-upcoming" th:each="tvseries : ${tvsUpcoming}">      <!-- append class here-->
          <div class="watchfun-tvseries">
            <div class="hover-bg"> <a  th:href="@{'tvseries/'+${tvseries.id}}" th:title="${tvseries.name}" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4 th:text="${tvseries.rating}"></h4>
              </div>
              <img  th:src="@{${tvseries.img}}" class="img-responsive" > </a> </div>
          </div>
          <!-- element button-->        
          <ol class="downloadlink">            
            <li><a th:href="@{${tvseries.downloadLink}}" >Download</a></li>
          </ol>      
          <!-- element button ends-->
        </div>
    <!-- tv series upcoming item ends -->
        
    
        
      </div>
      <!-- Element ends-->
    </div>
  </div>
 <div class="section-title text-center center">
  <div class="about-text">
          <a th:href="@{tvseries}" class="btn btn-default btn-lg page-scroll">More+</a> </div>      
    </div>
</div>





<script type="text/javascript" src="/js/jquery.1.11.1.js"></script> 
<script type="text/javascript" src="/js/bootstrap.js"></script> 
<script type="text/javascript" src="/js/SmoothScroll.js"></script> 
<script type="text/javascript" src="/js/nivo-lightbox.js"></script> 
<script type="text/javascript" src="/js/jquery.isotope.js"></script> 
<script type="text/javascript" src="/js/jqBootstrapValidation.js"></script> 
<script type="text/javascript" src="/js/contact_me.js"></script> 
<script type="text/javascript" src="/js/main.js"></script>

</body>
<div th:insert="~{footer :: footer}"></div>
</html>